@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Fira Code', monospace;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #011627 16.62%, #1E2D3D 85.61%);
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px
}

.cabecalho-menu-item{
    font-family: 'Fira Code', monospace;
    color: #607B96;
    font-size: 18px;
    border-right: 0.4px solid #607B96;
}

.cabecalho-menu-item:hover{
    border-bottom: 1px solid #E99287;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.1px solid #607B96;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: #607B96;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
    padding-right: 50px;
}

.conteudo-principal-escrito-int{
    font-family: 'Fira Code', monospace;
    color:#E5E9F0;
    font-size: 18px;
}

.conteudo-principal-escrito-nome{
    font-family: 'Fira Code', monospace;
    color:#E5E9F0;
    font-size: 40px;
    font-weight: 450;
    line-height: 81px;
}

.conteudo-principal-escrito-sub{
    font-family: 'Fira Code', monospace;
    color: #4D5BCE;
    font-weight: 400;
    line-height: 81px;
}

.imagemport{
    height: 500px;
    display: flex;
    margin-top: 50px;
    padding: 0%;
}

.secundario{
    border-top: #607B96;
    justify-content: center;
}

.secundario-p{
    display: flex;
    font-family: 'Fira Code', monospace;
    color: #607B96;
    font-weight: 400;
}

.secundario-git{
    font-family: 'Fira Code', monospace;
}

.const{
    color: #4D5BCE;
}

.variable{
    color: #43D9AD;
}

.b{
    color: #ffffff;
}

.link{
    color: #E99287;
}

.footer-principal{
    color: #607B96;
    font-family: 'Fira Code', monospace;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border-top: #607B96 solid 0.2px;
}

.menu-footer{
    font-family: 'Fira Code', monospace;
    color: #607B96;
    font-size: 18px;
    padding: 18px;
    border-right: 0.4px solid #607B96;
    border-radius: 1px;
}

.uil uil-linkedin{
    width: 100%;
}

.secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 100px;
}

.secundario-h1{
   color: #ffffff;
   border-top: 0.1px solid #607B96;
   padding-top: 48px;
}

.container-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px;
    gap: 30px;
}

.cards{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    text-align: center;
    padding: 32px;
    box-shadow: 20px 20px 20px #011627;
    border-radius: 15px;
    border-top: #607B96 solid 0.1px;
    border-left: #607B96 solid 0.1px;
    color: #E5E9F0;
    font-size: 14px;
}

.icon img{
    display: flex;
    width: 100%;
}

.icon{
    width: 64px;
    height: 64px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.span.js{
    padding: 55px;
}

@media screen and (max-width: 900px ) {
    .conteudo-principal{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-left: 40px;
    }
    .imagemport{
        max-width: 100%;
        flex-direction: column;
    }
    .container-cards{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}